* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4b4b4b;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

header {
    text-align: center;
    margin: 2rem;
}

header h1 {
    text-transform: capitalize;
}

header .tagline {
    font-size: 1.2rem;
    padding: 0.8rem;
}

.accordion {
    width: 620px;
    margin: 0 auto;
}

.accordion__heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-top: 1px solid #ddd;
    letter-spacing: 1px;
}

.accordion__details {
    max-height: 0;
    overflow: hidden;
    transition: 0.8s all ease;
    margin-left: 2rem;
}
.accordion__details > p {
    font-size: 0.8rem;
    padding: 1.2rem 0;
    /* line-height: 1.2rem; */
/* } / */